<head>
    {% if page.url == "/" or page.url contains "page" %}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% else %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}
        
    {% seo %}
    
    {% if site.cdn.jsdelivr.enabled %}
        {% assign assets_url = "https://cdn.jsdelivr.net/gh/" | append: site.username | append: "/" | append: site.repo %}
    {% else %}
        {% assign assets_url = site.url %}
    {% endif %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="https://avatars3.githubusercontent.com/{{ site.username }}" >
</head>
