.footer {
  background: $main;
  text-align: center;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}