.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  user-select: none;

  div {
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }

  a, span, em {
    border: 1px solid #CFD8DC;
    width: 3.6vh;
    height: 3.6vh;
    font-size: 2vh;
    line-height: 3.6vh;
    text-align: center;

    &:not(:first-of-type) {
      border-left: 0;
    }
  }

  a, em {
    cursor: pointer;
  }

  span {
    cursor: not-allowed;
  }

  a:hover {
    background-color: #eeeeee;
  }

  .selected {
    background-color: #428bca;
    color: #f5f5f5;
  }

  &__left-radius {
    border-radius: 10% 0 0 10%;
  }

  &__right-radius {
    border-radius: 0 10% 10% 0;
  }
}