---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
{% include head.html %}

<body class="site">
    <div class="site-header">
        {% include header.html %}
    </div>
    <main class="site__content blog" id="posts">
        <div class="container post-list">
            {% for post in paginator.posts %}
                {% include card.html %}
            {% endfor %}
        </div>
        
        <!-- 分页链接 -->
        {% if paginator.total_pages > 1 %}
            <div class="pagination">
                <div>
                    {% if paginator.previous_page %}
                        {% if paginator.page == 2 %}
                            <a class="pagination__left-radius" href="{{ site.url }}/#posts">&laquo;</a>
                        {% else %}
                            <a class="pagination__left-radius" href="{{ paginator.previous_page_path }}/#posts">&laquo;</a>
                        {% endif %}
                    {% else %}
                        <span class="pagination__left-radius">&laquo;</span>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                            <em class="selected">{{ page }}</em>
                        {% elsif page == 1 %}
                            <a href="{{ site.url }}/#posts">{{ page }}</a>
                        {% else %}
                            <a href="{{ site.paginate_path | replace: ':num', page }}/#posts">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                        <a class="pagination__right-radius" href="{{ paginator.next_page_path }}/#posts">&raquo;</a>
                    {% else %}
                        <span class="pagination__right-radius">&raquo;</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </main>
    
    {% include footer.html %}
</body>

</html>