---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
{% include head.html %}

<body class="site">
    <div class="site-header" id="header">
        {% include header.html %}
    </div>
    <main class="site__content blog">
        <div class="container post-list">
            {% for post in paginator.posts %}
                {% include card.html %}
            {% endfor %}
        </div>
        
        <!-- 分页链接 -->
        {% if paginator.total_pages > 1 %}
            <div class="pagination">
                <div>
                    {% if paginator.previous_page %}
                        {% if paginator.page == 2 %}
                            <a class="pagination__left-radius" href="{{ site.url }}/#posts">&laquo;</a>
                        {% else %}
                            <a class="pagination__left-radius" href="{{ paginator.previous_page_path }}/#posts">&laquo;</a>
                        {% endif %}
                    {% else %}
                        <span class="pagination__left-radius">&laquo;</span>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                            <em class="selected">{{ page }}</em>
                        {% elsif page == 1 %}
                            <a href="{{ site.url }}/#posts">{{ page }}</a>
                        {% else %}
                            <a href="{{ site.paginate_path | replace: ':num', page }}/#posts">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                        <a class="pagination__right-radius" href="{{ paginator.next_page_path }}/#posts">&raquo;</a>
                    {% else %}
                        <span class="pagination__right-radius">&raquo;</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </main>
    
    {% include footer.html %}

    
    <script type="text/javascript">
        var header = document.getElementById("header"), height = window.innerHeight;
        var startY, headerDisplay = true, autoScrolling = false, timer, nowScrollTop = document.documentElement.scrollTop;

        function onscrollFun(event) {
            nowScrollTop = document.documentElement.scrollTop;
            if (headerDisplay && nowScrollTop >= height) {
                headerDisplay = false;
                setTimeout(() => {
                    header.style.display = "none";
                }, 0);
            }
            if (autoScrolling) {
                clearTimeout(timer);
                timer = setTimeout(() => {
                    autoScrolling = false;
                }, 30);
            }
        };

        function scrollFun(event, delta) {
            nowScrollTop = document.documentElement.scrollTop;
            if (autoScrolling || (delta > 0 && nowScrollTop <= 1) || (nowScrollTop <= height && headerDisplay)) {
                event.preventDefault();
            }
            if (delta > 0 && nowScrollTop <= 1 && !headerDisplay && !autoScrolling) {
                autoScrolling = true;
                window.onscroll = undefined;
                header.style.display = "inline";
                if (nowScrollTop == 0) document.documentElement.scrollTop = height;
                headerDisplay = true;
                setTimeout(() => {
                    window.scroll({
                        top: 0,
                        behavior: "smooth"
                    });
                    setTimeout(() => {
                        window.onscroll = onscrollFun;
                    }, 30);
                }, 0);
            } else if (delta < 0 && headerDisplay && !autoScrolling) {
                autoScrolling = true;
                window.scroll({
                    top: height,
                    behavior: "smooth"
                });
            }
        };
        
        function downScroll() {
            autoScrolling = true;
            window.scroll({
                top: height,
                behavior: "smooth"
            });
        };

        window.onload = () => {
            if (nowScrollTop >= height) {
                header.style.display = "none";
                headerDisplay = false;
            }
        };
        window.onscroll = onscrollFun;

        if ((navigator.userAgent.toLowerCase().indexOf("firefox") != -1)){
            window.addEventListener("DOMMouseScroll", mousewheelScroll, false);
        } else if (window.addEventListener) {
            window.addEventListener("mousewheel", mousewheelScroll, { passive: false });
        } else if (window.attachEvent) {
            window.attachEvent("onmousewheel", mousewheelScroll);
        } else {
            window.onmousewheel = mousewheelScroll;
        }
        function mousewheelScroll(event){
            scrollFun(event, event.wheelDelta || (-event.detail));
        }
        window.addEventListener("touchstart", event => {
            startY = event.changedTouches[0].pageY;
        });
        window.addEventListener("touchmove", event => {
            scrollFun(event, event.changedTouches[0].pageY - startY);
        }, { passive: false });
    </script>
</body>

</html>