---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
{% include head.html %}

<body class="site">
    <div class="site-header" id="header">
        {% include header.html %}
    </div>
    <main class="site__content blog" id="posts">
        <div class="container post-list">
            {% for post in paginator.posts %}
                {% include card.html %}
            {% endfor %}
        </div>
        
        <!-- 分页链接 -->
        {% if paginator.total_pages > 1 %}
            <div class="pagination">
                <div>
                    {% if paginator.previous_page %}
                        {% if paginator.page == 2 %}
                            <a class="pagination__left-radius" href="{{ site.url }}/#posts">&laquo;</a>
                        {% else %}
                            <a class="pagination__left-radius" href="{{ paginator.previous_page_path }}/#posts">&laquo;</a>
                        {% endif %}
                    {% else %}
                        <span class="pagination__left-radius">&laquo;</span>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                            <em class="selected">{{ page }}</em>
                        {% elsif page == 1 %}
                            <a href="{{ site.url }}/#posts">{{ page }}</a>
                        {% else %}
                            <a href="{{ site.paginate_path | replace: ':num', page }}/#posts">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                        <a class="pagination__right-radius" href="{{ paginator.next_page_path }}/#posts">&raquo;</a>
                    {% else %}
                        <span class="pagination__right-radius">&raquo;</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </main>
    
    {% include footer.html %}

    
    <script type="text/javascript">
        var header = document.getElementById("header"), height = document.documentElement.clientHeight;
        if ((navigator.userAgent.toLowerCase().indexOf("firefox") != -1)){
            document.addEventListener("DOMMouseScroll",scrollFun,false);
        } else if (document.addEventListener) {
            document.addEventListener("mousewheel",scrollFun,false);
        } else if (document.attachEvent) {
            document.attachEvent("onmousewheel",scrollFun);
        } else {
            document.onmousewheel = scrollFun;
        }
        function scrollFun(event){
            var delta = event.wheelDelta || (-event.detail);
            if (delta > 0 && document.documentElement.scrollTop <= height) {
                if (document.documentElement.scrollTop == 0 && header.style.display == "none") {
                    header.style.display = "inline";
                    document.documentElement.scrollTop = height;
                }
                else if (document.documentElement.scrollTop <= height && header.style.display == "inline") {
                    window.scroll({
                        top: 0,
                        behavior: "smooth"
                    });
                }
            }
            if (delta < 0 && header.style.display != "none" && document.documentElement.scrollTop <= height) {
                window.scroll({
                    top: height,
                    behavior: "smooth"
                });
                window.setTimeout(() => {
                    header.style.display="none";
                    document.documentElement.scrollTop = 0;
                }, 1000);
            }
            endTime = new Date().getTime();
        }
    </script>
</body>

</html>